{% if rainloop_ssl and rainloop_redirect_http_to_https %}
server {
  listen 0.0.0.0:80;
  listen [::]:80;
  server_name {{rainloop_hostname}};
  return 301 https://$host$request_uri;
}
{% endif %}

server {
{% if rainloop_ssl %}
    listen 0.0.0.0:443 ssl;
    listen [::]:443 ssl;
    ssl_certificate {{ rainloop_ssl_certificate }};
    ssl_certificate_key {{ rainloop_ssl_certificate_key }};
{% else %}
    listen 0.0.0.0:80;
    listen [::]:80;
{% endif %}
    server_name {{rainloop_hostname}};

    root  /srv/www/{{rainloop_hostname}};
    try_files $uri $uri/ /index.php?$args;
    index index.php index.html index.htm;

    client_max_body_size 100M;

    location ^~ /data {
        deny all;
    }
    location ~ \.php$ {
        fastcgi_pass unix:/var/run/php5-fpm.sock;
        fastcgi_index index.php;
        fastcgi_param SCRIPT_FILENAME $document_root$fastcgi_script_name;
        include fastcgi_params;
    }
}
